body {
	background-color: coral;
	box-sizing: content-box;
	font-family: arial;
	border: dashed;
}

* {
	margin: 3px;
	padding: 10px;
	box-sizing: inherit;
	
}

.page {
	max-width: 800px;
	margin: 10px auto;
	text-align: center;
	background-color: gray;
	padding: 0px 30px;
}

